{% extends 'base.html' %}
    {% block content %}
    
    <div class="mainmenu-area">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div> 
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'index' %}">主页</a></li>
                        <li class="active"><a href="{% url 'allproducts' %}">全部商品</a></li>
                        <!-- <li><a href="single-product.html">商品详情页</a></li> -->
                        <li><a href="cart.html">购物车</a></li>
                        <li><a href="checkout.html">订单详情页</a></li>
                        <li><a href="#">分类</a></li>
                        <li><a href="#">其他</a></li>
                        <li><a href="#">联系我们</a></li>
                    </ul>
                </div>  
            </div>
        </div>
    </div> <!-- End mainmenu area -->
    
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Shop</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                {% for p in allproducts %}
                <div class="col-md-3 col-sm-6">
                    <div class="single-shop-product">
                        <div class="product-upper">
                            <img src="/media/{{p.picture}}" alt="{{p.name}}">
                        </div>
                        <h2><a href="{% url 'singlepage' p.id %}">{{p.name}}</a></h2>
                        <div class="product-carousel-price">
                            <ins>{{p.discprice}}</ins> <del>{{p.price}}</del>
                        </div>  
                        
                        <div class="product-option-shop">
                            <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="{% url 'addtocart' p.id %}">加入购物车</a>
                        </div>                       
                    </div>
                </div>
                {% endfor %}
                
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <div class="product-pagination text-center">
                        <nav>
                          <ul class="pagination">
                            <li>
                                {% if allproducts.has_previous %}
                                <a href="?page={{ allproducts.previous_page_number }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                      </a>
                                {% else %}
                                <a class='disable' aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                      </a>
                                {% endif %}
                            </li>
                            {% for i in pagerange %}
                                {% ifequal i allproducts.number %}
                                    <li><a>{{i}}</a></li>
                                {% else %}
                                    <li><a href="?page={{i}}">{{i}}</a></li>
                                {% endifequal %}
                            {% endfor %}
                            <li>
                            {% if allproducts.has_next %}
                              <a href="?page={{ allproducts.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                              </a>
                            {% else %}
                            <a class='disable' aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                  </a>
                            {% endif %}
                            </li>
                          </ul>
                        </nav>                        
                    </div>
                </div>
            </div>
        </div>
    </div>




    {% endblock %}